*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  letter-spacing: 3px;
  text-transform: uppercase;

}
body{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(bg.jpg);
  background-position: center;
  background-size: cover;
}
.container{
  max-width: 1300px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 60px;
  width: auto;
}
.navbar-menu a{
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin-left: 35px;
  display: inline-block;
}
.navbar-menu a::after{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  margin-top: 6px;
  background-color: #fff;
  transition: width .3s;
}
.navbar-menu a:hover::after{
  width: 100%;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  width: 100%;
  text-align: center;
}













































